<div style="background-image: url(../img/music.jpg); background-size:cover; ">
<div class="container" >
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body" style="background-image: url(../img/innermusic.jpg); background-size:cover; min-height: 1200 px">
          
          <h5 class="card-title playlist-title">{{example.text}}</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Playlist Name: </strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
          <p>
            <strong>Songs </strong> {{example.songs}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
